* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 750px;
    height: 500px;
    background: white;
    display: flex;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
}

/* Left Blue Panel */
.login-left {
    width: 40%;
    background-color: #2874f0;
    padding: 40px 30px;
    color: white;
}

.hindi-title {
    font-family: 'Rozha One', serif;
    font-size: 30px;
    color: #ffe500;
    margin-bottom: 15px;
}

.login-icon {
    width: 100%;
    margin-top: 50px;
    opacity: 0.8;
}

/* Right Side Panel */
.login-right {
    width: 60%;
    padding: 50px;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #878787;
    transition: 0.3s;
    pointer-events: none;
}

/* Input Animation */
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: #2874f0;
}

.terms {
    font-size: 12px;
    color: #878787;
    margin-bottom: 20px;
}

.terms span {
    color: #2874f0;
    cursor: pointer;
}

.otp-btn {
    width: 100%;
    background: #fb641b; /* Flipkart Orange Button */
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.new-user {
    margin-top: auto;
    text-align: center;
    padding-top: 150px;
}

.new-user a {
    text-decoration: none;
    color: #2874f0;
    font-weight: 500;
    font-size: 14px;
}
