*{margin:0;padding:0;box-sizing:border-box;font-family:system-ui}
body{background:#f1f3f6;padding-bottom:70px}

.app-bar{background:#2874f0;padding:14px;text-align:center}
.hindi-title{font-family:'Rozha One';color:#ffe500}

.search-container{display:flex;margin:12px;background:#fff;
border-radius:25px;padding:6px 10px}
.search-container input{border:none;flex:1;outline:none}

.page{padding:15px}

.card{background:#fff;padding:20px;border-radius:16px;
box-shadow:0 4px 10px rgba(0,0,0,.12);text-align:center}

.primary-btn{margin-top:15px;width:100%;padding:12px;
border:none;border-radius:25px;background:#2874f0;color:#fff}

.bottom-nav{position:fixed;bottom:0;width:100%;
display:flex;justify-content:space-around;
background:#fff;border-top:1px solid #ddd}

.nav-item{text-align:center;padding:6px;color:#555}
.nav-item span{display:block;font-size:12px}
.nav-item.active{color:#2874f0;font-weight:bold}

.avatar{
width:120px;height:120px;border-radius:50%;
object-fit:cover;margin-bottom:10px
}
